
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.contact-us-feX {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;

  .auto-group-qcx9-bYB {
    width: 100%;
    height: 15.9rem;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8899999857);
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.1rem 6.85rem 2.2rem 3.5rem;

    .auto-group-ty9u-JhV {
      margin-right: 34.55rem;
      width: 46.9rem;
      height: 100%;
      flex-shrink: 0;

      .auto-group-ksxs-3QB {
        margin: 0rem 25.35rem 1.2rem 0rem;
        width: calc(100% - 25.35rem);
        display: flex;
        align-items: center;

        .scrap3-removebg-preview-75-a9D {
          width: 5.1467rem;
          height: 4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.2033rem;
        }
        .scrap-symphony-sanctuary-hDq {
          flex-shrink: 0;
          margin-top: 0.9rem;
          display: flex;
          font-size: 1.4rem;
          line-height: 1.4825;
          color: #f7fbff;
          font-family: Oswald, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          font-weight: 700;
          letter-spacing: 0.028rem;
          white-space: nowrap;
        }
      }
      .eco-clean-waste-management-P6f {
        display: flex;
        align-items: center;
        color: #ffffff;
        font-family: Oswald, 'Source Sans Pro';
        width: 100%;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.4825;
        letter-spacing: 0.072rem;
        white-space: nowrap;
        justify-content: center;
      }
    }
    .home-about-us-overview-schedule-pickup-contact-us-tp7 {
      letter-spacing: 0.072rem;
      color: #ffffff;
      flex-shrink: 0;
      display: flex;
      align-items: baseline;
      line-height: 1.4825;
      font-weight: 700;
      font-family: Oswald, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.9rem;
      justify-content: center;
      font-size: 3.6rem;

      .home-about-us-overview-schedule-pickup-contact-us-tp7-sub-0 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.4825;
        letter-spacing: 0.072rem;
        color: #ffffff;
        font-family: Oswald, 'Source Sans Pro';
      }
      .home-about-us-overview-schedule-pickup-contact-us-tp7-sub-1 {
      }
    }
  }
  .auto-group-owc3-no1 {
    margin-bottom: 5.75rem;
    width: 100%;
    height: 13.2rem;
    position: relative;
    flex-shrink: 0;

    .contact-us-vPR {
      font-size: 4.8rem;
      font-weight: 500;
      height: 7.2rem;
      top: 2.5rem;
      left: 71.5rem;
      display: flex;
      line-height: 1.4825;
      letter-spacing: 0.096rem;
      color: #000000;
      font-family: Oswald, 'Source Sans Pro';
      width: 21.2rem;
      position: absolute;
      white-space: nowrap;
    }
    .group-212-YZD {
      position: absolute;
      color: #000000;
      background-color: rgba(0, 0, 0, 0.0799999982);
      box-sizing: border-box;
      padding: 10.3rem 6.7rem 0.7rem 111.9rem;
      align-items: center;
      font-size: 1.6rem;
      font-family: Open Sans, 'Source Sans Pro';
      width: 153.6rem;
      left: 0;
      top: 0;
      font-weight: 400;
      letter-spacing: 0.032rem;
      height: 13.2rem;
      display: flex;
      justify-content: center;
      line-height: 1.3625;
      white-space: nowrap;
    }
  }
  .fill-this-form-our-team-will-connect-with-you-and-solve-your-queries-rTR {
    width: 100%;
    display: flex;
    font-weight: 400;
    letter-spacing: 0.04rem;
    color: #000000;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    margin-bottom: 0.35rem;
    justify-content: center;
    font-size: 2rem;
    line-height: 1.3625;
    flex-shrink: 0;
    align-items: center;
  }
  .auto-group-o5jf-jn7 {
    margin: 0rem 10.3rem 7.9rem 6.1rem;
    width: calc(100% - 16.4rem);
    height: 70.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .contact-form-2-3H1 {
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 68.1rem;
      box-sizing: border-box;
      padding: 3.2rem 11rem 2.3rem 11.1rem;
      height: 100%;
      background-color: #ffffff;
      flex-shrink: 0;
      margin-right: 2.6rem;

      .group-61-959 {
        margin-bottom: 2.45rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .first-name-tHd {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 0.8rem;
          width: 100%;

          .first-name-dm1 {
            margin-bottom: 0.7rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2125;
            white-space: nowrap;
            align-items: baseline;
            flex-shrink: 0;

            .first-name-dm1-sub-0 {
            }
            .first-name-dm1-sub-1 {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #ff0000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .rectangle-AuM {
            background-color: #f1f1f1;
            border-radius: 0.6rem;
            flex-shrink: 0;
            width: 100%;
            height: 5.5rem;
          }
        }
        .last-name-73u {
          margin-bottom: 0.8rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .last-name-rXH {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.7rem;
          }
          .rectangle-CLF {
            height: 5.5rem;
            background-color: #f1f1f1;
            border-radius: 0.6rem;
            flex-shrink: 0;
            width: 100%;
          }
        }
        .email-9FV {
          margin-bottom: 0.85rem;
          width: 100%;
          height: 8.2rem;
          position: relative;
          flex-shrink: 0;

          .e-mail-HsV {
            width: 5.7rem;
            left: 0;
            font-size: 1.6rem;
            font-weight: 500;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            height: 2rem;
            position: absolute;
            top: 0;
            line-height: 1.2125;
            align-items: baseline;

            .e-mail-HsV-sub-0 {
            }
            .e-mail-HsV-sub-1 {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #ff0000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .rectangle-5HZ {
            top: 2.7rem;
            background-color: rgba(217, 217, 217, 0.3700000048);
            border-radius: 0.6rem;
            width: 46rem;
            height: 5.5rem;
            position: absolute;
            left: 0;
          }
          .email-Cd5 {
            top: 0;
            width: 46rem;
            height: 8.2rem;
            position: absolute;
            left: 0;

            .e-mail-9YK {
              margin-bottom: 0.7rem;
              font-weight: 500;
              line-height: 1.2125;
              display: flex;
              align-items: baseline;
              font-size: 1.6rem;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;

              .e-mail-9YK-sub-0 {
              }
              .e-mail-9YK-sub-1 {
                line-height: 1.2125;
                color: #ff0000;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 500;
              }
            }
            .rectangle-YKZ {
              width: 100%;
              height: 5.5rem;
              background-color: rgba(217, 217, 217, 0.0299999993);
              border-radius: 0.6rem;
            }
          }
        }
        .phone-number-gRm {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .phone-number-eNb {
            margin-bottom: 0.7rem;
            font-size: 1.6rem;
            line-height: 1.2125;
            flex-shrink: 0;
            font-weight: 500;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            align-items: baseline;

            .phone-number-eNb-sub-0 {
            }
            .phone-number-eNb-sub-1 {
              line-height: 1.2125;
              color: #ff0000;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 500;
            }
          }
          .rectangle-GPy {
            width: 100%;
            height: 5.5rem;
            background-color: #f1f1f1;
            border-radius: 0.6rem;
            flex-shrink: 0;
          }
        }
      }
      .message-1cT {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 4.4rem;

        .message-AVM {
          flex-shrink: 0;
          margin-bottom: 0.7rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rectangle-7Qb {
          width: 100%;
          height: 15rem;
          background-color: #f1f1f1;
          border-radius: 0.6rem;
          flex-shrink: 0;
        }
      }
      .auto-group-kc7y-fS7 {
        width: 100%;
        height: 4.9rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .button-1F5 {
          line-height: 1.2125;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          background-color: #000000;
          margin-right: 15.6rem;
          height: 100%;
          font-weight: 700;
          align-items: center;
          border-radius: 0.6rem;
          width: 12.4rem;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 1.6rem;
          color: #ffffff;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
        }
        .button-gMD {
          width: 18rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #000000;
          flex-shrink: 0;
          height: 100%;
          font-size: 1.6rem;
          display: flex;
          border: solid 0.1rem #000000;
          line-height: 1.2125;
          color: #ffffff;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          border-radius: 0.6rem;
          font-weight: 700;
        }
      }
    }
    .image-25-MTM {
      margin-bottom: 6.7rem;
      width: 66.5rem;
      height: 52.7rem;
      position: relative;
      background-size: 124.173% 122.367%;
      background-position: -6.6125rem 0rem;
      background-image: url('REPLACE_IMAGE:c9a52aadb109187037255c8dca9d98057e2ac0a3');
      flex-shrink: 0;
    }
  }
  .footer-r9D {
    box-sizing: border-box;
    padding-top: 0.993rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #222222;
    flex-shrink: 0;

    .auto-group-mhct-bMh {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 28.2rem 0.5rem 12.2rem;
      width: calc(100% - 40.4rem);
      height: 19.207rem;

      .auto-group-tdw7-utB {
        flex-direction: column;
        flex-shrink: 0;
        margin: 3.906rem 61.7rem 2.089rem 0rem;
        height: calc(100% - 5.9953rem);
        display: flex;

        .scrap-symphony-sanctuary-your-premier-destination-for-trading-scrap-materials-and-a-platform-to-donate-and-manage-waste-responsibly-embrace-a-circular-economy-contribute-to-charitable-causes-by-donating-reusable-items-and-explore-green-solutions-with-our-community-of-startups-and-entrepreneurs-for-a-sustainable-future-SdD {
          max-width: 43.7rem;
          display: flex;
          font-size: 1rem;
          letter-spacing: 0.01rem;
          flex-shrink: 0;
          margin-bottom: 1.4117rem;
          font-weight: 400;
          line-height: 2.2;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .social-media-dBu {
          margin-left: 0.818rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .vector-NfH {
            margin: 0rem 4.035rem 0rem 0rem;
            width: 2.9268rem;
            height: 2.9268rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .vector-uQK {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 4.0344rem;
            width: 3.2195rem;
            height: 3rem;
            object-fit: contain;
          }
          .vector-EhV {
            flex-shrink: 0;
            margin-top: 0.0013rem;
            width: 3.1463rem;
            height: 2.6341rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .auto-group-uxrp-B6w {
        width: 7.8rem;
        height: 100%;
        flex-shrink: 0;

        .frame-35-Kiw {
          margin-bottom: 0.507rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .pages-Gu5 {
            line-height: 2.25;
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2rem;
            width: 100%;
            justify-content: center;
            font-size: 1.2rem;
            font-weight: 700;
            letter-spacing: 0.012rem;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            display: flex;
            align-items: center;
          }
          .frame-39-bAf {
            flex-shrink: 0;
            width: 100%;
            row-gap: 1rem;
            display: flex;
            flex-direction: column;

            .home-Le3 {
              display: flex;
              line-height: 2.2;
              letter-spacing: 0.01rem;
              font-family: Open Sans, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 400;
              color: #ffffff;
              white-space: nowrap;
            }
            .about-us-GGo {
              font-size: 1rem;
              font-weight: 400;
              letter-spacing: 0.01rem;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              line-height: 2.2;
              color: #ffffff;
            }
            .overview-bK5 {
              display: flex;
              font-weight: 400;
              line-height: 2.2;
              letter-spacing: 0.01rem;
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              color: #ffffff;
              font-family: Open Sans, 'Source Sans Pro';
            }
            .schedule-pickup-KF5 {
              display: flex;
              font-size: 1rem;
              letter-spacing: 0.01rem;
              font-family: Open Sans, 'Source Sans Pro';
              flex-shrink: 0;
              font-weight: 400;
              line-height: 2.2;
              color: #ffffff;
              white-space: nowrap;
            }
          }
        }
        .contact-us-Esq {
          font-weight: 400;
          line-height: 2.2;
          letter-spacing: 0.01rem;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 1rem;
        }
      }
    }
    .auto-group-3eek-Nj9 {
      box-sizing: border-box;
      padding: 0.6rem 11.5rem 0rem 14.1rem;
      width: 100%;
      height: 5.9094rem;
      display: flex;
      align-items: flex-start;
      background-color: #555555;
      flex-shrink: 0;

      .frame-40-txP {
        flex-shrink: 0;
        margin-right: 21.9333rem;
        box-sizing: border-box;
        padding-right: 19.3667rem;
        height: 100%;
        display: flex;
        align-items: flex-start;

        .mask-group-Dzf {
          margin-right: 4.5rem;
          width: 3rem;
          height: 3rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .mask-group-AQ7 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 3rem;
          height: 3rem;
          position: relative;
        }
      }
      .terms-condition-privacy-policy-7KM {
        margin: 0.1rem 30.3rem 0rem 0rem;
        font-size: 1rem;
        letter-spacing: 0.01rem;
        color: #ffffff;
        flex-shrink: 0;
        font-weight: 700;
        line-height: 2.2;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .scrap-symphony-sanctuary-all-rights-reserved-Crb {
        letter-spacing: 0.01rem;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
        margin-top: 0.1rem;
        line-height: 2.2;
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 700;
      }
    }
  }
}
