
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.home-kym {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .auto-group-nnis-xa3 {
    margin-bottom: 8rem;
    width: 100%;
    height: 15.9rem;
    background-color: rgba(0, 0, 0, 0.8899999857);
    box-sizing: border-box;
    padding: 3.1rem 6.85rem 2.2rem 3.5rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-x3pu-BLK {
      margin-right: 34.55rem;
      width: 46.9rem;
      height: 100%;
      flex-shrink: 0;

      .auto-group-bptm-uXD {
        margin: 0rem 25.35rem 1.2rem 0rem;
        width: calc(100% - 25.35rem);
        display: flex;
        align-items: center;

        .scrap3-removebg-preview-75-pPH {
          width: 5.1467rem;
          height: 4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.2033rem;
        }
        .scrap-symphony-sanctuary-vBR {
          margin-top: 0.9rem;
          display: flex;
          justify-content: center;
          font-size: 1.4rem;
          line-height: 1.4825;
          letter-spacing: 0.028rem;
          color: #f7fbff;
          flex-shrink: 0;
          align-items: center;
          font-weight: 700;
          font-family: Oswald, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .eco-clean-waste-management-yvP {
        display: flex;
        font-weight: 700;
        font-family: Oswald, 'Source Sans Pro';
        white-space: nowrap;
        width: 100%;
        justify-content: center;
        font-size: 3.6rem;
        line-height: 1.4825;
        letter-spacing: 0.072rem;
        color: #ffffff;
        align-items: center;
      }
    }
    .home-about-us-overview-schedule-pickup-contact-us-tnT {
      font-family: Oswald, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.9rem;
      display: flex;
      align-items: baseline;
      line-height: 1.4825;
      letter-spacing: 0.072rem;
      color: #ffffff;
      flex-shrink: 0;
      justify-content: center;
      font-size: 3.6rem;
      font-weight: 700;

      .home-about-us-overview-schedule-pickup-contact-us-tnT-sub-0 {
        line-height: 1.4825;
        letter-spacing: 0.072rem;
        color: #ffffff;
        font-family: Oswald, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 700;
      }
      .home-about-us-overview-schedule-pickup-contact-us-tnT-sub-1 {
      }
    }
  }
  .welcome-to-eco-clean-waste-management-pi3 {
    flex-shrink: 0;
    margin: 0rem 42rem 1.9rem 0rem;
    display: flex;
    font-size: 4.8rem;
    color: #000000;
    white-space: nowrap;
    font-weight: 500;
    line-height: 1.4825;
    letter-spacing: 0.096rem;
    font-family: Oswald, 'Source Sans Pro';
  }
  .auto-group-qla3-HrX {
    margin: 0rem 13.5rem 10.9rem 13.3rem;
    width: calc(100% - 26.8rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-c2yf-ops {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 1.8rem;

      .turn-your-trash-into-cash-ZJF {
        font-size: 4.8rem;
        font-weight: 500;
        line-height: 1.4825;
        letter-spacing: 0.096rem;
        color: #000000;
        white-space: nowrap;
        margin-bottom: 3.9rem;
        font-family: Oswald, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
      }
      .welcome-to-eco-clean-waste-management-where-waste-disposal-meets-convenience-and-sustainability-our-platform-simplifies-the-process-of-responsible-waste-management-allowing-users-to-easily-categorize-their-waste-schedule-pickups-at-their-convenience-and-earn-cash-rewards-in-return-at-your-company-name-we-are-committed-to-creating-a-cleaner-environment-by-incentivizing-and-rewarding-individuals-and-businesses-for-their-dedication-to-waste-disposal-our-user-friendly-approach-combined-with-a-focus-on-environmental-impact-and-cash-incentives-sets-us-apart-as-your-trusted-partner-in-promoting-a-greener-more-sustainable-world-join-us-on-this-journey-towards-a-cleaner-future-where-waste-disposal-is-not-just-a-responsibility-but-a-rewarding-experience-TPd {
        font-weight: 400;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        max-width: 70.6rem;
        display: flex;
        font-size: 2rem;
        line-height: 1.5;
        letter-spacing: 0.04rem;
        flex-shrink: 0;

        .welcome-to-eco-clean-waste-management-where-waste-disposal-meets-convenience-and-sustainability-our-platform-simplifies-the-process-of-responsible-waste-management-allowing-users-to-easily-categorize-their-waste-schedule-pickups-at-their-convenience-and-earn-cash-rewards-in-return-at-your-company-name-we-are-committed-to-creating-a-cleaner-environment-by-incentivizing-and-rewarding-individuals-and-businesses-for-their-dedication-to-waste-disposal-our-user-friendly-approach-combined-with-a-focus-on-environmental-impact-and-cash-incentives-sets-us-apart-as-your-trusted-partner-in-promoting-a-greener-more-sustainable-world-join-us-on-this-journey-towards-a-cleaner-future-where-waste-disposal-is-not-just-a-responsibility-but-a-rewarding-experience-TPd-sub-0 {
        }
        .welcome-to-eco-clean-waste-management-where-waste-disposal-meets-convenience-and-sustainability-our-platform-simplifies-the-process-of-responsible-waste-management-allowing-users-to-easily-categorize-their-waste-schedule-pickups-at-their-convenience-and-earn-cash-rewards-in-return-at-your-company-name-we-are-committed-to-creating-a-cleaner-environment-by-incentivizing-and-rewarding-individuals-and-businesses-for-their-dedication-to-waste-disposal-our-user-friendly-approach-combined-with-a-focus-on-environmental-impact-and-cash-incentives-sets-us-apart-as-your-trusted-partner-in-promoting-a-greener-more-sustainable-world-join-us-on-this-journey-towards-a-cleaner-future-where-waste-disposal-is-not-just-a-responsibility-but-a-rewarding-experience-TPd-sub-1 {
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: 0.04rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          font-size: 2rem;
        }
        .welcome-to-eco-clean-waste-management-where-waste-disposal-meets-convenience-and-sustainability-our-platform-simplifies-the-process-of-responsible-waste-management-allowing-users-to-easily-categorize-their-waste-schedule-pickups-at-their-convenience-and-earn-cash-rewards-in-return-at-your-company-name-we-are-committed-to-creating-a-cleaner-environment-by-incentivizing-and-rewarding-individuals-and-businesses-for-their-dedication-to-waste-disposal-our-user-friendly-approach-combined-with-a-focus-on-environmental-impact-and-cash-incentives-sets-us-apart-as-your-trusted-partner-in-promoting-a-greener-more-sustainable-world-join-us-on-this-journey-towards-a-cleaner-future-where-waste-disposal-is-not-just-a-responsibility-but-a-rewarding-experience-TPd-sub-2 {
        }
      }
    }
    .image-16-Sgo {
      margin-top: 0.6rem;
      width: 54.4rem;
      height: 52.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .group-212-aHD {
    height: 65.5rem;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1400000006);
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.8rem 13.5rem 3.8rem 13.3rem;
    width: 100%;

    .auto-group-disj-VQB {
      padding: 3.6rem 3.3rem 3.05rem 3.3rem;
      align-items: center;
      flex-direction: column;
      background-color: #f7fbff;
      border-radius: 3rem;
      margin: 14.6rem 11.3rem 5rem 0rem;
      width: 35.3rem;
      height: calc(100% - 19.6rem);
      display: flex;
      flex-shrink: 0;
      box-sizing: border-box;

      .image-18-yq9 {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 2.75rem;
        width: 28.7rem;
        height: 25.6rem;
        object-fit: cover;
      }
      .schedule-pickup-iXq {
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        margin-right: 0.5rem;
        display: flex;
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.3625;
        letter-spacing: 0.048rem;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-3c2k-cNK {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 9.4rem 5rem 0rem;
      align-items: flex-end;
      display: flex;

      .how-it-works--YWs {
        line-height: 1.4825;
        font-family: Oswald, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        font-weight: 500;
        letter-spacing: 0.096rem;
        color: #000000;
        white-space: nowrap;
        margin-bottom: 7.4rem;
        font-size: 4.8rem;
      }
      .auto-group-5voh-GSs {
        padding: 3.6rem 2.3rem 3.069rem 2.9rem;
        width: 35.3rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 0.2rem;
        box-sizing: border-box;
        background-color: #f7fbff;
        border-radius: 3rem;

        .image-19-ys5 {
          background-size: 147.503% 100%;
          background-position: -2.7257rem 0rem;
          background-image: url('REPLACE_IMAGE:c874f8a0399db43cacc326118f02bd1da8d099ed');
          flex-shrink: 0;
          margin-bottom: 2.7311rem;
          width: 30.1rem;
          height: 25.6rem;
          position: relative;
        }
        .pick-at-your-address-4Nj {
          margin-left: 0.1rem;
          font-weight: 600;
          line-height: 1.3625;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          font-size: 2.4rem;
          letter-spacing: 0.048rem;
          white-space: nowrap;
        }
      }
    }
    .auto-group-bsgf-wSX {
      flex-shrink: 0;
      margin: 14.6rem 0rem 5rem 0rem;
      width: 35.3rem;
      height: calc(100% - 19.6rem);
      display: flex;
      border-radius: 3rem;
      box-sizing: border-box;
      padding: 3.6rem 2.4rem 3.05rem 2.4rem;
      align-items: center;
      flex-direction: column;
      background-color: #f7fbff;

      .image-21-R6o {
        width: 30.5rem;
        height: 25.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 2.75rem;
      }
      .receive-payment-kPy {
        flex-shrink: 0;
        display: flex;
        font-size: 2.4rem;
        letter-spacing: 0.048rem;
        white-space: nowrap;
        font-family: Open Sans, 'Source Sans Pro';
        margin-left: 2.6rem;
        font-weight: 600;
        line-height: 1.3625;
        color: #000000;
      }
    }
  }
  .auto-group-s6yx-C15 {
    flex-shrink: 0;
    margin-bottom: 4.4rem;
    display: flex;
    column-gap: 3.7rem;
    align-items: center;
    background-color: rgba(49, 195, 36, 0.7200000286);
    box-sizing: border-box;
    padding: 5.3rem 4.9rem 8rem 4.3rem;
    width: 100%;
    height: 54.4rem;

    .auto-group-qwmm-gwq {
      margin-top: 11.4rem;
      box-sizing: border-box;
      padding: 3.85rem 1.2rem 6.1rem 3.1rem;
      display: flex;
      flex-direction: column;
      width: 33.1rem;
      align-items: center;
      background-color: #f7fbff;
      border-radius: 8rem;
      flex-shrink: 0;

      .zero-waste-eco-friendly-Q79 {
        letter-spacing: 0.048rem;
        font-family: Oswald, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 2.4rem;
        line-height: 1.4825;
        color: #000000;
        margin: 0rem 2.8rem 0.95rem 0rem;
        font-weight: 500;
      }
      .we-take-your-waste-to-recyclers-small-business-and-ngos-to-reuse-the-waste-to-promote-sustainability-and-environmental-awareness-hc3 {
        max-width: 28.8rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        display: flex;
        letter-spacing: 0.04rem;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .auto-group-grdr-wmH {
      width: 70.8rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .why-us--VXu {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-family: Oswald, 'Source Sans Pro';
        font-weight: 500;
        line-height: 1.4825;
        letter-spacing: 0.096rem;
        color: #f7fbff;
        margin: 0rem 0rem 4rem 2.8rem;
        font-size: 4.8rem;
      }
      .auto-group-ricx-oHh {
        width: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-ts8x-xAb {
          width: 33.1rem;
          flex-direction: column;
          background-color: #f7fbff;
          box-sizing: border-box;
          padding: 3.75rem 1.6rem 6.2rem 3.8rem;
          display: flex;
          border-radius: 8rem;
          flex-shrink: 0;
          margin: 0.4rem 4.6rem 0rem 0rem;
          align-items: center;

          .convenience-f51 {
            font-weight: 500;
            line-height: 1.4825;
            font-family: Oswald, 'Source Sans Pro';
            letter-spacing: 0.048rem;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 2.5rem 0.95rem 0rem;
            display: flex;
            font-size: 2.4rem;
          }
          .doorstep-pickup-according-to-users-convenient-date-time-just-do-segregartion-and-leave-everything-elso-on-us-JGP {
            flex-shrink: 0;
            font-size: 2rem;
            line-height: 1.5;
            font-family: Open Sans, 'Source Sans Pro';
            letter-spacing: 0.04rem;
            color: #000000;
            max-width: 27.7rem;
            display: flex;
            font-weight: 400;
          }
        }
        .auto-group-kmwv-9H1 {
          padding: 4.15rem 1.8rem 5.8rem 3.6rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #f7fbff;
          margin-bottom: 0.4rem;
          box-sizing: border-box;
          width: 33.1rem;
          border-radius: 8rem;
          flex-shrink: 0;

          .best-rate-ToV {
            display: flex;
            line-height: 1.4825;
            font-family: Oswald, 'Source Sans Pro';
            flex-shrink: 0;
            color: #000000;
            white-space: nowrap;
            margin: 0rem 1rem 0.95rem 0rem;
            font-size: 2.4rem;
            font-weight: 500;
            letter-spacing: 0.048rem;
          }
          .dontt-sure-whether-making-a-profittable-deal-or-not-try-yourself-by-comparing-our-prices-with-the-local-vendors-nKy {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.04rem;
            flex-shrink: 0;
            max-width: 27.7rem;
            display: flex;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
          }
        }
      }
    }
    .auto-group-lnwh-SQX {
      background-color: #f7fbff;
      border-radius: 8rem;
      margin-top: 10.8rem;
      padding: 4.15rem 0.9rem 5.8rem 3.7rem;
      align-items: center;
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      flex-shrink: 0;

      .saviours-mSo {
        display: flex;
        font-weight: 500;
        line-height: 1.4825;
        letter-spacing: 0.048rem;
        font-family: Oswald, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 1rem 0.95rem 0rem;
        font-size: 2.4rem;
        color: #000000;
      }
      .we-aim-to-provide-best-experience-to-our-customers-to-gain-thier-trust-and-reliability-we-provide-trained-verified-pickup-staff-V7u {
        display: flex;
        font-size: 2rem;
        line-height: 1.5;
        letter-spacing: 0.04rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 28.5rem;
        font-weight: 400;
      }
    }
  }
  .testimonials-vU7 {
    font-weight: 500;
    font-family: Oswald, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 0.5rem;
    display: flex;
    font-size: 4.8rem;
    line-height: 1.4825;
    letter-spacing: 0.096rem;
    color: #000000;
  }
  .auto-group-rywk-Ejh {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 8.9rem 11.5rem 8.1rem 10.9rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-a94s-Zmy {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 8.1rem;
      width: 100%;

      .group-219-VvX {
        margin: 0.2rem 10.4rem 0rem 0rem;
        width: 60.4rem;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0.55rem 2.4rem 2.7rem 2.3rem;
        align-items: flex-end;
        background-color: rgba(0, 0, 0, 0.1400000006);
        flex-shrink: 0;

        .auto-group-p3g3-C4F {
          width: 54.6rem;
          height: 17.35rem;
          position: relative;
          flex-shrink: 0;
          margin: 0rem 1.1rem 0.6rem 0rem;

          .item--iYP {
            width: 2.3rem;
            position: absolute;
            top: 0;
            font-size: 4.8rem;
            letter-spacing: 0.096rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            height: 6.6rem;
            left: 0;
            display: flex;
            font-weight: 700;
            line-height: 1.3625;
          }
          .the-eco-clean-waste-management-team-was-really-professional-and-their-services-the-best-that-i-have-seen-in-my-entire-life-of-20-years-could-not-have-asked-anything-more-simply-awesome--Dk3 {
            width: 54.2rem;
            left: 0.4rem;
            font-size: 2rem;
            color: #000000;
            height: 12rem;
            position: absolute;
            top: 5.35rem;
            display: flex;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.04rem;
            font-family: Open Sans, 'Source Sans Pro';

            .the-eco-clean-waste-management-team-was-really-professional-and-their-services-the-best-that-i-have-seen-in-my-entire-life-of-20-years-could-not-have-asked-anything-more-simply-awesome--Dk3-sub-0 {
            }
            .the-eco-clean-waste-management-team-was-really-professional-and-their-services-the-best-that-i-have-seen-in-my-entire-life-of-20-years-could-not-have-asked-anything-more-simply-awesome--Dk3-sub-1 {
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: 0.04rem;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
            }
            .the-eco-clean-waste-management-team-was-really-professional-and-their-services-the-best-that-i-have-seen-in-my-entire-life-of-20-years-could-not-have-asked-anything-more-simply-awesome--Dk3-sub-2 {
            }
          }
        }
        .anonymous-housemaker-nq5 {
          display: flex;
          font-size: 2rem;
          letter-spacing: 0.04rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          align-items: baseline;
          flex-shrink: 0;
          font-weight: 400;
          line-height: 1.5;
          white-space: nowrap;

          .anonymous-housemaker-nq5-sub-0 {
          }
          .anonymous-housemaker-nq5-sub-1 {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.04rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
          }
          .anonymous-housemaker-nq5-sub-2 {
          }
        }
      }
      .group-220-jNw {
        margin-bottom: 0.2rem;
        width: 60.4rem;
        height: 24.2rem;
        position: relative;
        background-color: rgba(0, 0, 0, 0.1400000006);
        flex-shrink: 0;

        .item--fnP {
          font-family: Open Sans, 'Source Sans Pro';
          height: 6.6rem;
          display: flex;
          font-size: 4.8rem;
          top: 0.55rem;
          font-weight: 700;
          line-height: 1.3625;
          letter-spacing: 0.096rem;
          color: #000000;
          width: 2.3rem;
          position: absolute;
          left: 2.3rem;
          white-space: nowrap;
        }
        .was-fed-up-of-our-local-society-kabadiwala-who-did-as-per-his-own-whim-bcoz-of-the-monopoly-tried-eco-clean-waste-management-and-found-the-service-to-be-smooth-transparent-convenient-and-extremely-professional-great-initiative-will-surely-use-again-and-recommend-to-all-kJ3 {
          line-height: 1.5;
          letter-spacing: 0.04rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          height: 15rem;
          position: absolute;
          top: 4rem;
          font-size: 2rem;
          font-weight: 400;
          width: 57.6rem;
          left: 2.3rem;
          display: flex;

          .was-fed-up-of-our-local-society-kabadiwala-who-did-as-per-his-own-whim-bcoz-of-the-monopoly-tried-eco-clean-waste-management-and-found-the-service-to-be-smooth-transparent-convenient-and-extremely-professional-great-initiative-will-surely-use-again-and-recommend-to-all-kJ3-sub-0 {
          }
          .was-fed-up-of-our-local-society-kabadiwala-who-did-as-per-his-own-whim-bcoz-of-the-monopoly-tried-eco-clean-waste-management-and-found-the-service-to-be-smooth-transparent-convenient-and-extremely-professional-great-initiative-will-surely-use-again-and-recommend-to-all-kJ3-sub-1 {
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.04rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 2rem;
          }
          .was-fed-up-of-our-local-society-kabadiwala-who-did-as-per-his-own-whim-bcoz-of-the-monopoly-tried-eco-clean-waste-management-and-found-the-service-to-be-smooth-transparent-convenient-and-extremely-professional-great-initiative-will-surely-use-again-and-recommend-to-all-kJ3-sub-2 {
          }
        }
        .anonymous-designer-8hu {
          align-items: baseline;
          position: absolute;
          top: 18.3rem;
          font-family: Open Sans, 'Source Sans Pro';
          height: 3rem;
          display: flex;
          width: 22.7rem;
          color: #000000;
          white-space: nowrap;
          line-height: 1.5;
          letter-spacing: 0.04rem;
          left: 34.2rem;
          font-size: 2rem;
          font-weight: 400;

          .anonymous-designer-8hu-sub-0 {
          }
          .anonymous-designer-8hu-sub-1 {
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.04rem;
          }
          .anonymous-designer-8hu-sub-2 {
          }
        }
      }
    }
    .auto-group-99j5-GBq {
      height: 24.2rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-left: 0.2rem;
      width: calc(100% - 0.2rem);

      .group-221-BZh {
        margin-right: 10.2rem;
        width: 60.4rem;
        height: 100%;
        position: relative;
        background-color: rgba(0, 0, 0, 0.1400000006);
        flex-shrink: 0;

        .item--ukb {
          font-weight: 700;
          line-height: 1.3625;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          width: 2.3rem;
          height: 6.6rem;
          position: absolute;
          left: 2.3rem;
          top: 0.55rem;
          display: flex;
          font-size: 4.8rem;
          letter-spacing: 0.096rem;
          white-space: nowrap;
        }
        .it-was-such-a-pleasant-experience-with-eco-clean-waste-management-the-process-was-so-simple-i-just-simply-filled-the-details-online-and-selected-the-date-and-time-for-pickup-the-concerned-person-contacted-me-and-reached-at-the-desired-time-arj {
          font-family: Open Sans, 'Source Sans Pro';
          height: 15rem;
          position: absolute;
          left: 2.5rem;
          font-size: 2rem;
          color: #000000;
          letter-spacing: 0.04rem;
          width: 55.3rem;
          top: 5.55rem;
          display: flex;
          font-weight: 400;
          line-height: 1.5;

          .it-was-such-a-pleasant-experience-with-eco-clean-waste-management-the-process-was-so-simple-i-just-simply-filled-the-details-online-and-selected-the-date-and-time-for-pickup-the-concerned-person-contacted-me-and-reached-at-the-desired-time-arj-sub-0 {
          }
          .it-was-such-a-pleasant-experience-with-eco-clean-waste-management-the-process-was-so-simple-i-just-simply-filled-the-details-online-and-selected-the-date-and-time-for-pickup-the-concerned-person-contacted-me-and-reached-at-the-desired-time-arj-sub-1 {
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.04rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 2rem;
          }
          .it-was-such-a-pleasant-experience-with-eco-clean-waste-management-the-process-was-so-simple-i-just-simply-filled-the-details-online-and-selected-the-date-and-time-for-pickup-the-concerned-person-contacted-me-and-reached-at-the-desired-time-arj-sub-2 {
          }
        }
        .anonymous-business-man-26T {
          width: 27.5rem;
          height: 3rem;
          align-items: baseline;
          font-size: 2rem;
          color: #000000;
          white-space: nowrap;
          position: absolute;
          top: 18.5rem;
          left: 30.2rem;
          display: flex;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: 0.04rem;
          font-family: Open Sans, 'Source Sans Pro';

          .anonymous-business-man-26T-sub-0 {
          }
          .anonymous-business-man-26T-sub-1 {
            letter-spacing: 0.04rem;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
          }
          .anonymous-business-man-26T-sub-2 {
          }
        }
      }
      .group-222-UMm {
        box-sizing: border-box;
        align-items: flex-end;
        background-color: rgba(0, 0, 0, 0.1400000006);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding: 0.55rem 3.6rem 2.7rem 2.3rem;
        width: 60.4rem;
        height: 100%;

        .auto-group-xsth-BX5 {
          margin-bottom: 0.6rem;
          width: 100%;
          height: 17.35rem;
          position: relative;
          flex-shrink: 0;

          .item--Xaw {
            width: 2.3rem;
            height: 6.6rem;
            position: absolute;
            display: flex;
            font-size: 4.8rem;
            letter-spacing: 0.096rem;
            color: #000000;
            white-space: nowrap;
            left: 0;
            top: 0;
            font-weight: 700;
            line-height: 1.3625;
            font-family: Open Sans, 'Source Sans Pro';
          }
          .hassel-free-good-experience-with-eco-clean-waste-management-home-pickup-service-is-very-convenient-and-a-great-initiative-to-save-the-environment-will-surely-recommend-to-others-EkF {
            line-height: 1.5;
            letter-spacing: 0.04rem;
            color: #000000;
            width: 54.1rem;
            position: absolute;
            left: 0.4rem;
            font-size: 2rem;
            font-family: Open Sans, 'Source Sans Pro';
            height: 12rem;
            top: 5.35rem;
            display: flex;
            font-weight: 400;

            .hassel-free-good-experience-with-eco-clean-waste-management-home-pickup-service-is-very-convenient-and-a-great-initiative-to-save-the-environment-will-surely-recommend-to-others-EkF-sub-0 {
            }
            .hassel-free-good-experience-with-eco-clean-waste-management-home-pickup-service-is-very-convenient-and-a-great-initiative-to-save-the-environment-will-surely-recommend-to-others-EkF-sub-1 {
              letter-spacing: 0.04rem;
              color: #000000;
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.5;
            }
            .hassel-free-good-experience-with-eco-clean-waste-management-home-pickup-service-is-very-convenient-and-a-great-initiative-to-save-the-environment-will-surely-recommend-to-others-EkF-sub-2 {
            }
          }
        }
        .anonymous-teacher-swd {
          align-items: baseline;
          margin-right: 0.8rem;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          line-height: 1.5;
          letter-spacing: 0.04rem;

          .anonymous-teacher-swd-sub-0 {
          }
          .anonymous-teacher-swd-sub-1 {
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.5;
            letter-spacing: 0.04rem;
          }
          .anonymous-teacher-swd-sub-2 {
          }
        }
      }
    }
  }
  .footer-rHm {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #222222;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 0.993rem;
    width: 100%;

    .auto-group-imdy-PYb {
      margin: 0rem 28.2rem 0.5rem 12.2rem;
      width: calc(100% - 40.4rem);
      height: 19.207rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-vu5h-hZH {
        height: calc(100% - 5.9953rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 3.906rem 61.7rem 2.089rem 0rem;

        .scrap-symphony-sanctuary-your-premier-destination-for-trading-scrap-materials-and-a-platform-to-donate-and-manage-waste-responsibly-embrace-a-circular-economy-contribute-to-charitable-causes-by-donating-reusable-items-and-explore-green-solutions-with-our-community-of-startups-and-entrepreneurs-for-a-sustainable-future-cw9 {
          margin-bottom: 1.4117rem;
          font-size: 1rem;
          font-weight: 400;
          flex-shrink: 0;
          max-width: 43.7rem;
          display: flex;
          line-height: 2.2;
          letter-spacing: 0.01rem;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .social-media-PqR {
          margin-left: 0.818rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .vector-w6F {
            margin: 0rem 4.035rem 0rem 0rem;
            width: 2.9268rem;
            height: 2.9268rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .vector-ryu {
            margin-right: 4.0344rem;
            width: 3.2195rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .vector-1M1 {
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.0013rem;
            width: 3.1463rem;
            height: 2.6341rem;
            object-fit: contain;
          }
        }
      }
      .auto-group-mowm-KsV {
        width: 7.8rem;
        height: 100%;
        flex-shrink: 0;

        .frame-35-UEb {
          flex-direction: column;
          margin-bottom: 0.507rem;
          width: 100%;
          display: flex;

          .pages-2X1 {
            margin-bottom: 2rem;
            font-size: 1.2rem;
            line-height: 2.25;
            color: #ffffff;
            font-family: Open Sans, 'Source Sans Pro';
            flex-shrink: 0;
            white-space: nowrap;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            letter-spacing: 0.012rem;
          }
          .frame-39-YVM {
            flex-shrink: 0;
            width: 100%;
            row-gap: 1rem;
            display: flex;
            flex-direction: column;

            .home-tZD {
              flex-shrink: 0;
              font-weight: 400;
              color: #ffffff;
              line-height: 2.2;
              letter-spacing: 0.01rem;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              font-size: 1rem;
            }
            .about-us-RZ9 {
              display: flex;
              letter-spacing: 0.01rem;
              line-height: 2.2;
              color: #ffffff;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 400;
            }
            .overview-wnP {
              font-weight: 400;
              color: #ffffff;
              display: flex;
              line-height: 2.2;
              letter-spacing: 0.01rem;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
            }
            .schedule-pickup-svw {
              letter-spacing: 0.01rem;
              color: #ffffff;
              flex-shrink: 0;
              display: flex;
              font-size: 1rem;
              font-weight: 400;
              line-height: 2.2;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .contact-us-c7q {
          display: flex;
          font-size: 1rem;
          font-weight: 400;
          line-height: 2.2;
          letter-spacing: 0.01rem;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .auto-group-m8cf-YGP {
      height: 5.9094rem;
      display: flex;
      align-items: flex-start;
      background-color: #555555;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.6rem 11.5rem 0rem 14.1rem;
      width: 100%;

      .frame-40-rXy {
        margin-right: 21.9333rem;
        box-sizing: border-box;
        padding-right: 19.3667rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .mask-group-Q3h {
          margin-right: 4.5rem;
          width: 3rem;
          height: 3rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .mask-group-Xe7 {
          width: 3rem;
          height: 3rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .terms-condition-privacy-policy-sxs {
        margin: 0.1rem 30.3rem 0rem 0rem;
        line-height: 2.2;
        letter-spacing: 0.01rem;
        color: #ffffff;
        white-space: nowrap;
        font-size: 1rem;
        font-weight: 700;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .scrap-symphony-sanctuary-all-rights-reserved-BCs {
        line-height: 2.2;
        letter-spacing: 0.01rem;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1rem;
        font-weight: 700;
        color: #ffffff;
        white-space: nowrap;
      }
    }
  }
}
