
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.message-submit-qNF {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-nxcj-P8s {
    box-sizing: border-box;
    padding: 3.1rem 6.85rem 2.2rem 3.5rem;
    width: 100%;
    height: 15.9rem;
    flex-shrink: 0;
    margin-bottom: 5.7rem;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8899999857);

    .auto-group-d9e7-VBu {
      width: 46.9rem;
      height: 100%;
      flex-shrink: 0;
      margin-right: 34.55rem;

      .auto-group-hvcb-Dtb {
        align-items: center;
        margin: 0rem 25.35rem 1.2rem 0rem;
        width: calc(100% - 25.35rem);
        display: flex;

        .scrap3-removebg-preview-75-ME7 {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.2033rem;
          width: 5.1467rem;
          height: 4rem;
          object-fit: cover;
        }
        .scrap-symphony-sanctuary-4uD {
          display: flex;
          align-items: center;
          font-size: 1.4rem;
          white-space: nowrap;
          flex-shrink: 0;
          font-family: Oswald, 'Source Sans Pro';
          margin-top: 0.9rem;
          justify-content: center;
          font-weight: 700;
          line-height: 1.4825;
          letter-spacing: 0.028rem;
          color: #f7fbff;
        }
      }
      .eco-clean-waste-management-xjh {
        display: flex;
        align-items: center;
        letter-spacing: 0.072rem;
        font-family: Oswald, 'Source Sans Pro';
        white-space: nowrap;
        width: 100%;
        justify-content: center;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.4825;
        color: #ffffff;
      }
    }
    .home-about-us-overview-schedule-pickup-contact-us-GEb {
      display: flex;
      align-items: baseline;
      justify-content: center;
      font-size: 3.6rem;
      font-weight: 700;
      white-space: nowrap;
      margin-bottom: 0.9rem;
      letter-spacing: 0.072rem;
      color: #ffffff;
      font-family: Oswald, 'Source Sans Pro';
      flex-shrink: 0;
      line-height: 1.4825;

      .home-about-us-overview-schedule-pickup-contact-us-GEb-sub-0 {
        font-family: Oswald, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.4825;
        letter-spacing: 0.072rem;
        color: #ffffff;
      }
      .home-about-us-overview-schedule-pickup-contact-us-GEb-sub-1 {
      }
    }
  }
  .frame-427319655-9hh {
    box-sizing: border-box;
    padding: 1.15rem 11.45rem;
    border-radius: 3rem;
    margin: 0rem 37.1rem 4.8rem 37rem;
    height: 39.5rem;
    overflow: hidden;
    position: relative;
    background-color: rgba(119, 119, 119, 0.1000000015);
    flex-shrink: 0;
    width: calc(100% - 74.1rem);

    .frame-427319654-rs1 {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 35.3rem;
      row-gap: 3rem;
      align-items: center;

      .group-36-1E7 {
        margin: 0 23.3rem;
        padding: 1.463rem 0.679rem 1.463rem 2.462rem;
        height: 10rem;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:4:3407');
        flex-shrink: 0;
        box-sizing: border-box;
        width: calc(100% - 46.6rem);
        background-size: cover;

        .vector-83q {
          vertical-align: top;
          width: 6.8588rem;
          height: 5.3265rem;
          object-fit: contain;
        }
      }
      .frame-427319653-rEj {
        flex-shrink: 0;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .message-sent-successfully--QGF {
          font-size: 4rem;
          letter-spacing: 0.04rem;
          color: #128807;
          flex-shrink: 0;
          margin-bottom: 0.9rem;
          text-align: center;
          font-weight: 700;
          line-height: 1.3625;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
        .we-will-contact-you-soon-and-solve-your-queries-W4P {
          text-align: center;
          line-height: 1.3625;
          letter-spacing: 0.024rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 400;
        }
      }
      .thank-you--oJP {
        letter-spacing: 0.024rem;
        color: #000000;
        flex-shrink: 0;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.3625;
        font-family: Open Sans, 'Source Sans Pro';
        white-space: nowrap;
      }
      .if-you-want-to-continue-go-back-to-home-page-LJK {
        align-items: baseline;
        flex-shrink: 0;
        text-align: center;
        font-weight: 400;
        letter-spacing: 0.024rem;
        display: flex;
        white-space: nowrap;
        font-size: 2.4rem;
        line-height: 1.3625;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';

        .if-you-want-to-continue-go-back-to-home-page-LJK-sub-0 {
        }
        .if-you-want-to-continue-go-back-to-home-page-LJK-sub-1 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3625;
          letter-spacing: 0.024rem;
          color: #128807;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .if-you-want-to-continue-go-back-to-home-page-LJK-sub-2 {
          font-weight: 700;
          line-height: 1.3625;
          letter-spacing: 0.024rem;
          color: #128807;
          font-family: Open Sans, 'Source Sans Pro';
          font-size: 2.4rem;
        }
      }
    }
  }
  .auto-group-rkp1-hAo {
    display: flex;
    align-items: center;
    background-color: #555555;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.9rem 9.7rem 0rem 10.5rem;
    width: 100%;
    height: 6.2094rem;

    .frame-40-pFR {
      box-sizing: border-box;
      padding-right: 19.3667rem;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-right: 25.5333rem;

      .mask-group-xsR {
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.5rem;
        width: 3rem;
      }
      .mask-group-6yd {
        vertical-align: top;
        flex-shrink: 0;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
      }
    }
    .terms-condition-privacy-policy-3ts {
      font-size: 1rem;
      letter-spacing: 0.01rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      margin: 0rem 32.1rem 3.109rem 0rem;
      font-weight: 700;
      line-height: 2.2;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .scrap-symphony-sanctuary-all-rights-reserved-Lsy {
      letter-spacing: 0.01rem;
      white-space: nowrap;
      margin-bottom: 3.1094rem;
      font-size: 1rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      flex-shrink: 0;
      font-weight: 700;
      line-height: 2.2;
    }
  }
}
