
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.overview-Dwd {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-gqrf-MY3 {
    padding: 3.1rem 6.85rem 2.2rem 3.5rem;
    width: 100%;
    height: 15.9rem;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8899999857);
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-f855-FtK {
      margin-right: 34.55rem;
      width: 46.9rem;
      height: 100%;
      flex-shrink: 0;

      .auto-group-9uej-C2s {
        margin: 0rem 25.35rem 1.2rem 0rem;
        width: calc(100% - 25.35rem);
        display: flex;
        align-items: center;

        .scrap3-removebg-preview-75-vUf {
          margin-right: 0.2033rem;
          width: 5.1467rem;
          height: 4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .scrap-symphony-sanctuary-eQf {
          margin-top: 0.9rem;
          display: flex;
          justify-content: center;
          line-height: 1.4825;
          color: #f7fbff;
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          font-size: 1.4rem;
          font-weight: 700;
          letter-spacing: 0.028rem;
          font-family: Oswald, 'Source Sans Pro';
        }
      }
      .eco-clean-waste-management-96X {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.072rem;
        white-space: nowrap;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.4825;
        color: #ffffff;
        font-family: Oswald, 'Source Sans Pro';
      }
    }
    .home-about-us-overview-schedule-pickup-contact-us-FvF {
      align-items: baseline;
      justify-content: center;
      font-size: 3.6rem;
      line-height: 1.4825;
      white-space: nowrap;
      font-family: Oswald, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 0.9rem;
      display: flex;
      font-weight: 700;
      letter-spacing: 0.072rem;
      color: #ffffff;

      .home-about-us-overview-schedule-pickup-contact-us-FvF-sub-0 {
        letter-spacing: 0.072rem;
        color: #ffffff;
        font-family: Oswald, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.4825;
      }
      .home-about-us-overview-schedule-pickup-contact-us-FvF-sub-1 {
      }
    }
  }
  .auto-group-hkmm-AQw {
    height: 13.2rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .overview-Wzb {
      color: #000000;
      position: absolute;
      display: flex;
      font-weight: 500;
      line-height: 1.4825;
      font-size: 4.8rem;
      letter-spacing: 0.096rem;
      font-family: Oswald, 'Source Sans Pro';
      white-space: nowrap;
      width: 17.4rem;
      height: 7.2rem;
      left: 69.1rem;
      top: 2.5rem;
    }
    .rectangle-940-RLs {
      top: 0;
      background-color: rgba(0, 0, 0, 0.0799999982);
      width: 153.6rem;
      height: 13.2rem;
      position: absolute;
      left: 0;
    }
  }
  .auto-group-dtf5-MVR {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2.7rem 14rem 13.6rem 14.3rem;
    width: 100%;
    row-gap: 13.6rem;
    align-items: center;

    .auto-group-mexr-GMV {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 2.5rem 0rem 1.1rem;
      width: calc(100% - 3.6rem);
      height: 70.7rem;
      display: flex;

      .auto-group-96jj-BDZ {
        flex-shrink: 0;
        margin-right: 12.1rem;
        box-sizing: border-box;
        padding: 3rem 2.6rem 3.6rem 4.1rem;
        width: 54.8rem;
        height: 100%;
        background-color: rgba(217, 217, 217, 0.4399999976);
        border-radius: 2rem;

        .image-30-5pj {
          position: relative;
          background-size: 102.073% 175.311%;
          background-position: -0.4167rem -23.1037rem;
          background-image: url('REPLACE_IMAGE:b5efa4b6bd9128652a6036453984991681c7da8f');
          margin-bottom: 1.3rem;
          width: 46.7rem;
          height: 31.1rem;
        }
        .organic-waste-NYw {
          display: flex;
          font-weight: 600;
          line-height: 1.4825;
          color: #000000;
          white-space: nowrap;
          margin-bottom: 1.1rem;
          font-size: 2.4rem;
          letter-spacing: 0.024rem;
          font-family: Oswald, 'Source Sans Pro';
        }
        .organic-waste-consists-of-biodegradable-materials-like-food-scraps-kitchen-waste-and-plant-based-items-rich-in-carbon-it-decomposes-naturally-through-composting-or-other-biological-processes-composting-a-widely-used-method-turns-organic-waste-into-nutrient-rich-compost-for-soil-improvement-proper-management-of-organic-waste-is-essential-for-reducing-landfill-volumes-and-lessening-environmental-impact-V7m {
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: 0.04rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          max-width: 48.1rem;
        }
      }
      .auto-group-q2cp-EUf {
        padding: 3rem 4.1rem 9.6rem 4.1rem;
        width: 54.8rem;
        height: 100%;
        background-color: rgba(217, 217, 217, 0.4399999976);
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .image-31-A7R {
          margin-bottom: 1.3rem;
          width: 46.5rem;
          height: 31.1rem;
          object-fit: cover;
          vertical-align: top;
        }
        .e-waste-VvP {
          font-family: Oswald, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.1rem;
          display: flex;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.4825;
          letter-spacing: 0.024rem;
          color: #000000;
        }
        .e-waste-refers-to-discarded-electronic-devices-like-computers-phones-and-appliances-due-to-their-toxic-components-proper-disposal-and-recycling-are-vital-to-prevent-environmental-harm-and-promote-resource-reuse-specialized-recycling-programs-exist-in-many-regions-to-manage-e-waste-responsibly-d11 {
          max-width: 46.6rem;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: 0.04rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
    }
    .auto-group-ctyb-pLP {
      width: calc(100% - 3.6rem);
      height: 70.7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 2.5rem 0rem 1.1rem;

      .auto-group-ajm1-jTM {
        border-radius: 2rem;
        flex-shrink: 0;
        margin-right: 12.1rem;
        box-sizing: border-box;
        padding: 3rem 4.2rem 6.5rem 4.1rem;
        width: 54.8rem;
        height: 100%;
        background-color: rgba(217, 217, 217, 0.4399999976);

        .image-33-eKR {
          object-fit: cover;
          vertical-align: top;
          margin-bottom: 1.2rem;
          width: 46.5rem;
          height: 31.1rem;
        }
        .textile-waste-nRd {
          color: #000000;
          white-space: nowrap;
          display: flex;
          line-height: 1.4825;
          font-weight: 600;
          letter-spacing: 0.024rem;
          font-family: Oswald, 'Source Sans Pro';
          margin-bottom: 1.3rem;
          font-size: 2.4rem;
        }
        .textile-waste-comprises-discarded-clothing-and-fabrics-rapid-turnover-in-the-fashion-industry-contributes-to-its-environmental-impact-responsible-disposal-through-recycling-and-donation-is-crucial-support-for-sustainable-fashion-practices-helps-mitigate-textile-waste-promoting-a-more-eco-friendly-and-ethical-approach-to-fashion-W6j {
          max-width: 46.3rem;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: 0.04rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
      .auto-group-igw3-sLb {
        height: 100%;
        background-color: rgba(217, 217, 217, 0.4399999976);
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3rem 2.7rem 1.2rem 4.1rem;
        width: 54.8rem;

        .image-32-b1h {
          vertical-align: top;
          margin-bottom: 1.2rem;
          width: 47rem;
          height: 31.1rem;
          object-fit: cover;
        }
        .hazardous-waste-XR9 {
          color: #000000;
          white-space: nowrap;
          width: 100%;
          align-items: center;
          justify-content: center;
          font-size: 2.4rem;
          font-weight: 600;
          letter-spacing: 0.024rem;
          margin-bottom: 0.6rem;
          display: flex;
          line-height: 1.4825;
          font-family: Oswald, 'Source Sans Pro';
        }
        .hazardous-waste-consists-of-materials-that-pose-a-threat-to-human-health-or-the-environment-due-to-their-toxicity-flammability-corrosiveness-or-other-harmful-characteristicsproper-disposal-is-crucial-to-prevent-contamination-and-ensure-public-safety-stringent-regulations-specialized-facilities-are-in-place-globally-to-manage-hazardous-waste-safelythese-measures-aim-to-minimize-its-harmful-impact-on-ecosystems-and-communities-qwd {
          max-width: 48rem;
          display: flex;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: 0.04rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
        }
      }
    }
    .auto-group-9jxx-o1H {
      flex-shrink: 0;
      margin: 0rem 2.5rem 0rem 1.1rem;
      width: calc(100% - 3.6rem);
      height: 70.7rem;
      display: flex;
      align-items: center;

      .auto-group-epyy-vLo {
        padding: 3.7rem 3.8rem 4.3rem 4.1rem;
        width: 54.8rem;
        height: 100%;
        row-gap: 0.5rem;
        flex-shrink: 0;
        border-radius: 2rem;
        margin-right: 12.1rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        background-color: rgba(217, 217, 217, 0.4399999976);

        .image-34-2ej {
          width: 46.5rem;
          height: 31.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .bulk-or-bulky-waste-aAT {
          font-size: 2.4rem;
          white-space: nowrap;
          display: flex;
          line-height: 1.4825;
          letter-spacing: 0.024rem;
          color: #000000;
          font-family: Oswald, 'Source Sans Pro';
          flex-shrink: 0;
          font-weight: 600;
        }
        .bulk-or-bulky-waste-comprises-oversized-household-items-like-furniture-and-large-appliances-unsuitable-for-standard-waste-containers-special-handling-is-often-needed-for-their-proper-disposal-with-many-communities-offering-designated-pickup-or-drop-off-services-responsible-management-of-bulky-waste-is-vital-to-alleviate-pressure-on-landfills-and-promote-eco-friendly-disposal-practices-hVy {
          display: flex;
          letter-spacing: 0.04rem;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';
          max-width: 46.9rem;
          font-weight: 400;
          line-height: 1.5;
          flex-shrink: 0;
          font-size: 2rem;
        }
      }
      .auto-group-rxqh-fLK {
        flex-direction: column;
        background-color: rgba(217, 217, 217, 0.4399999976);
        border-radius: 2rem;
        flex-shrink: 0;
        padding: 3.7rem 0.8rem 4.3rem 3.6rem;
        row-gap: 0.5rem;
        display: flex;
        box-sizing: border-box;
        height: 100%;

        .image-35-PGK {
          width: 47.9rem;
          height: 31.1rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .bio-medical-waste-j5H {
          line-height: 1.4825;
          letter-spacing: 0.024rem;
          display: flex;
          font-size: 2.4rem;
          font-weight: 600;
          color: #000000;
          font-family: Oswald, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .biomedical-waste-refers-to-materials-that-pose-a-potential-threat-to-public-health-and-the-environment-due-to-their-infectious-or-hazardous-natureit-encompasses-items-like-used-needles-syringes-expired-medicines-and-contaminated-materials-from-medical-proceduresproper-disposal-regulation-of-bio-medical-waste-safeguard-public-health-and-the-environment-minimizing-infection-risks-for-healthcare-workers-and-communities-3bm {
          line-height: 1.5;
          letter-spacing: 0.04rem;
          color: #000000;
          max-width: 50.4rem;
          font-size: 2rem;
          font-weight: 400;
          display: flex;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
    .auto-group-jb99-nSs {
      width: 100%;
      height: 70.7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-qht5-LUP {
        margin-right: 13.2rem;
        box-sizing: border-box;
        padding: 3.7rem 1.5rem 1.4rem 3.9rem;
        width: 54.8rem;
        height: 100%;
        background-color: rgba(217, 217, 217, 0.4399999976);
        border-radius: 2rem;
        flex-shrink: 0;

        .image-36-FLT {
          width: 46.9rem;
          height: 31.1rem;
          object-fit: cover;
          vertical-align: top;
          margin-bottom: 0.5rem;
        }
        .other-waste-Bju {
          font-size: 2.4rem;
          font-family: Oswald, 'Source Sans Pro';
          letter-spacing: 0.024rem;
          color: #000000;
          white-space: nowrap;
          margin: 0rem 0rem 0.4rem 0.2rem;
          display: flex;
          font-weight: 600;
          line-height: 1.4825;
        }
        .our-waste-management-services-extend-beyond-organic-hazardous-and-electronic-waste-we-efficiently-handle-metal-waste-glass-waste-paper-waste-and-plastic-waste-ensuring-responsible-disposal-and-recycling-additionally-construction-and-demolition-waste-from-various-projects-is-managed-to-minimize-environmental-impact-our-commitment-to-sustainability-encompasses-a-diverse-range-of-materials-promoting-eco-friendly-practices-for-a-cleaner-and-greener-future-hiF {
          font-size: 2rem;
          font-family: Open Sans, 'Source Sans Pro';
          display: flex;
          max-width: 49.2rem;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: 0.04rem;
          color: #000000;
          margin-left: 0.2rem;
        }
      }
      .auto-group-vd19-dEX {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 15.4rem 0rem 20.2rem 0rem;
        width: 57.3rem;
        height: calc(100% - 35.6rem);
        align-items: center;

        .arrange-waste-collection-by-selecting-your-preferred-schedule-via-the-schedule-pickup-button-at-your-location-choose-the-time-and-date-then-click-to-confirm-Lej {
          margin-bottom: 4.2rem;
          max-width: 57.3rem;
          line-height: 1.3888888889;
          flex-shrink: 0;
          text-align: center;
          font-size: 3.6rem;
          font-weight: 400;
          color: #000000;
          font-family: Open Sans, 'Source Sans Pro';

          .arrange-waste-collection-by-selecting-your-preferred-schedule-via-the-schedule-pickup-button-at-your-location-choose-the-time-and-date-then-click-to-confirm-Lej-sub-0 {
            font-weight: 400;
            line-height: 1.3888888889;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
            font-size: 3.6rem;
          }
          .arrange-waste-collection-by-selecting-your-preferred-schedule-via-the-schedule-pickup-button-at-your-location-choose-the-time-and-date-then-click-to-confirm-Lej-sub-1 {
            font-size: 3.6rem;
            font-weight: 700;
            line-height: 1.3888888889;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
          }
          .arrange-waste-collection-by-selecting-your-preferred-schedule-via-the-schedule-pickup-button-at-your-location-choose-the-time-and-date-then-click-to-confirm-Lej-sub-2 {
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.3888888889;
            color: #000000;
            font-family: Open Sans, 'Source Sans Pro';
          }
        }
        .button-ruu {
          box-sizing: border-box;
          color: #ffffff;
          align-items: center;
          border: solid 0.1rem #000000;
          white-space: nowrap;
          border-radius: 0.6rem;
          height: 5.9rem;
          font-size: 2.4rem;
          font-weight: 700;
          background-color: #000000;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          flex-shrink: 0;
          margin: 0rem 15.8rem 0rem 15.9rem;
          width: calc(100% - 31.7rem);
          line-height: 1.2125;
        }
      }
    }
  }
  .footer-gtw {
    flex-direction: column;
    background-color: #222222;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 0.993rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-pb1y-2hu {
      flex-shrink: 0;
      margin: 0rem 28.2rem 0.5rem 12.2rem;
      width: calc(100% - 40.4rem);
      height: 19.207rem;
      display: flex;
      align-items: center;

      .auto-group-putm-xLf {
        margin: 3.906rem 61.7rem 2.089rem 0rem;
        height: calc(100% - 5.9953rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .scrap-symphony-sanctuary-your-premier-destination-for-trading-scrap-materials-and-a-platform-to-donate-and-manage-waste-responsibly-embrace-a-circular-economy-contribute-to-charitable-causes-by-donating-reusable-items-and-explore-green-solutions-with-our-community-of-startups-and-entrepreneurs-for-a-sustainable-future-H83 {
          font-size: 1rem;
          letter-spacing: 0.01rem;
          flex-shrink: 0;
          margin-bottom: 1.4117rem;
          max-width: 43.7rem;
          display: flex;
          font-weight: 400;
          line-height: 2.2;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .social-media-Fyy {
          margin-left: 0.818rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .vector-bH9 {
            margin: 0rem 4.035rem 0rem 0rem;
            width: 2.9268rem;
            height: 2.9268rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .vector-7WP {
            flex-shrink: 0;
            margin-right: 4.0344rem;
            width: 3.2195rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
          }
          .vector-FsV {
            margin-top: 0.0013rem;
            width: 3.1463rem;
            height: 2.6341rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-n1mh-C23 {
        flex-shrink: 0;
        width: 7.8rem;
        height: 100%;

        .frame-35-jnf {
          flex-direction: column;
          margin-bottom: 0.507rem;
          width: 100%;
          display: flex;

          .pages-67R {
            justify-content: center;
            line-height: 2.25;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 700;
            letter-spacing: 0.012rem;
            color: #ffffff;
            margin-bottom: 2rem;
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            flex-shrink: 0;
          }
          .frame-39-CgF {
            row-gap: 1rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;

            .home-9bV {
              font-weight: 400;
              letter-spacing: 0.01rem;
              font-family: Open Sans, 'Source Sans Pro';
              font-size: 1rem;
              line-height: 2.2;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
            }
            .about-us-gLX {
              display: flex;
              line-height: 2.2;
              letter-spacing: 0.01rem;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 400;
              color: #ffffff;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
            }
            .overview-cEB {
              letter-spacing: 0.01rem;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1rem;
              font-weight: 400;
              line-height: 2.2;
              font-family: Open Sans, 'Source Sans Pro';
            }
            .schedule-pickup-jZh {
              letter-spacing: 0.01rem;
              display: flex;
              font-size: 1rem;
              color: #ffffff;
              font-family: Open Sans, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 400;
              line-height: 2.2;
            }
          }
        }
        .contact-us-U1V {
          font-weight: 400;
          line-height: 2.2;
          letter-spacing: 0.01rem;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 1rem;
        }
      }
    }
    .auto-group-pmdh-Cy5 {
      height: 5.9094rem;
      display: flex;
      align-items: flex-start;
      background-color: #555555;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.6rem 11.5rem 0rem 14.1rem;
      width: 100%;

      .frame-40-LJb {
        flex-shrink: 0;
        margin-right: 21.9333rem;
        box-sizing: border-box;
        padding-right: 19.3667rem;
        height: 100%;
        display: flex;
        align-items: flex-start;

        .mask-group-5my {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 4.5rem;
          width: 3rem;
          height: 3rem;
        }
        .mask-group-DtB {
          vertical-align: top;
          flex-shrink: 0;
          width: 3rem;
          height: 3rem;
          position: relative;
          object-fit: contain;
        }
      }
      .terms-condition-privacy-policy-AoR {
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0.1rem 30.3rem 0rem 0rem;
        font-size: 1rem;
        line-height: 2.2;
        letter-spacing: 0.01rem;
        font-weight: 700;
        white-space: nowrap;
      }
      .scrap-symphony-sanctuary-all-rights-reserved-shq {
        flex-shrink: 0;
        letter-spacing: 0.01rem;
        color: #ffffff;
        white-space: nowrap;
        line-height: 2.2;
        font-family: Open Sans, 'Source Sans Pro';
        margin-top: 0.1rem;
        font-size: 1rem;
        font-weight: 700;
      }
    }
  }
}
