
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.schedule-submit-53m {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  row-gap: 4.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;

  .auto-group-twgp-CPH {
    width: 100%;
    height: 15.9rem;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8899999857);
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.1rem 6.85rem 2.2rem 3.5rem;

    .auto-group-qd67-v4P {
      margin-right: 34.55rem;
      width: 46.9rem;
      height: 100%;
      flex-shrink: 0;

      .auto-group-vxeb-rTq {
        display: flex;
        align-items: center;
        margin: 0rem 25.35rem 1.2rem 0rem;
        width: calc(100% - 25.35rem);

        .scrap3-removebg-preview-75-BW7 {
          height: 4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.2033rem;
          width: 5.1467rem;
        }
        .scrap-symphony-sanctuary-uBD {
          display: flex;
          font-size: 1.4rem;
          font-weight: 700;
          letter-spacing: 0.028rem;
          font-family: Oswald, 'Source Sans Pro';
          margin-top: 0.9rem;
          align-items: center;
          justify-content: center;
          line-height: 1.4825;
          color: #f7fbff;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .eco-clean-waste-management-zCf {
        white-space: nowrap;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.4825;
        justify-content: center;
        letter-spacing: 0.072rem;
        color: #ffffff;
        font-family: Oswald, 'Source Sans Pro';
        width: 100%;
        display: flex;
        align-items: center;
      }
    }
    .home-about-us-overview-schedule-pickup-contact-us-72P {
      color: #ffffff;
      font-family: Oswald, 'Source Sans Pro';
      white-space: nowrap;
      align-items: baseline;
      justify-content: center;
      font-size: 3.6rem;
      line-height: 1.4825;
      letter-spacing: 0.072rem;
      flex-shrink: 0;
      margin-bottom: 0.9rem;
      display: flex;
      font-weight: 700;

      .home-about-us-overview-schedule-pickup-contact-us-72P-sub-0 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.4825;
        letter-spacing: 0.072rem;
        color: #ffffff;
        font-family: Oswald, 'Source Sans Pro';
      }
      .home-about-us-overview-schedule-pickup-contact-us-72P-sub-1 {
      }
    }
  }
  .frame-427319655-11H {
    padding: 1.6rem 5.95rem;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 37.1rem 0rem 37rem;
    box-sizing: border-box;
    width: calc(100% - 74.1rem);
    height: 40.4rem;
    background-color: rgba(119, 119, 119, 0.1000000015);
    border-radius: 3rem;

    .frame-427319654-K1y {
      row-gap: 3rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 35.3rem;

      .group-36-3yZ {
        margin: 0 28.8rem;
        width: calc(100% - 57.6rem);
        height: 10rem;
        background-size: cover;
        box-sizing: border-box;
        padding: 1.463rem 0.679rem 1.463rem 2.462rem;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:4:3380');
        flex-shrink: 0;

        .vector-Zwu {
          object-fit: contain;
          vertical-align: top;
          width: 6.8588rem;
          height: 5.3265rem;
        }
      }
      .frame-427319653-tjH {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;

        .form-submitted-successfully--EYF {
          margin-bottom: 0.9rem;
          line-height: 1.3625;
          white-space: nowrap;
          flex-shrink: 0;
          font-family: Open Sans, 'Source Sans Pro';
          text-align: center;
          font-size: 4rem;
          font-weight: 700;
          letter-spacing: 0.04rem;
          color: #128807;
        }
        .our-team-will-collect-your-wastage-based-on-your-schedule-jju {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3625;
          letter-spacing: 0.024rem;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          flex-shrink: 0;
          color: #000000;
        }
      }
      .thank-you--R6w {
        text-align: center;
        font-weight: 700;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        line-height: 1.3625;
        letter-spacing: 0.024rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .if-you-want-to-continue-go-back-to-home-page-Wu5 {
        font-weight: 400;
        letter-spacing: 0.024rem;
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        line-height: 1.3625;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        display: flex;
        align-items: baseline;
        font-size: 2.4rem;

        .if-you-want-to-continue-go-back-to-home-page-Wu5-sub-0 {
        }
        .if-you-want-to-continue-go-back-to-home-page-Wu5-sub-1 {
          letter-spacing: 0.024rem;
          color: #128807;
          font-family: Open Sans, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.3625;
        }
        .if-you-want-to-continue-go-back-to-home-page-Wu5-sub-2 {
          line-height: 1.3625;
          letter-spacing: 0.024rem;
          color: #128807;
          font-family: Open Sans, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 700;
        }
      }
    }
  }
  .auto-group-91mz-bxT {
    padding: 0.9rem 9.7rem 0rem 10.5rem;
    width: 100%;
    height: 6.2094rem;
    display: flex;
    align-items: center;
    background-color: #555555;
    flex-shrink: 0;
    box-sizing: border-box;

    .frame-40-iGP {
      box-sizing: border-box;
      padding-right: 19.3667rem;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-right: 25.5333rem;

      .mask-group-rNb {
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.5rem;
      }
      .mask-group-PdR {
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .terms-condition-privacy-policy-YFR {
      font-size: 1rem;
      font-weight: 700;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      white-space: nowrap;
      margin: 0rem 32.1rem 3.109rem 0rem;
      font-family: Open Sans, 'Source Sans Pro';
      flex-shrink: 0;
      color: #ffffff;
    }
    .scrap-symphony-sanctuary-all-rights-reserved-DsM {
      letter-spacing: 0.01rem;
      color: #ffffff;
      font-weight: 700;
      font-size: 1rem;
      line-height: 2.2;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 3.1094rem;
    }
  }
}
