
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.schedule-pickup-rkf {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-scwq-z6B {
    box-sizing: border-box;
    padding: 3.1rem 6.85rem 2.2rem 3.5rem;
    width: 100%;
    height: 15.9rem;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8899999857);
    flex-shrink: 0;

    .auto-group-cizs-tST {
      margin-right: 34.55rem;
      width: 46.9rem;
      height: 100%;
      flex-shrink: 0;

      .auto-group-ifv7-EFR {
        align-items: center;
        margin: 0rem 25.35rem 1.2rem 0rem;
        width: calc(100% - 25.35rem);
        display: flex;

        .scrap3-removebg-preview-75-Mqq {
          flex-shrink: 0;
          margin-right: 0.2033rem;
          width: 5.1467rem;
          height: 4rem;
          object-fit: cover;
          vertical-align: top;
        }
        .scrap-symphony-sanctuary-5Ww {
          color: #f7fbff;
          font-family: Oswald, 'Source Sans Pro';
          margin-top: 0.9rem;
          display: flex;
          justify-content: center;
          font-size: 1.4rem;
          font-weight: 700;
          letter-spacing: 0.028rem;
          align-items: center;
          line-height: 1.4825;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .eco-clean-waste-management-BZy {
        font-family: Oswald, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        font-size: 3.6rem;
        line-height: 1.4825;
        letter-spacing: 0.072rem;
        color: #ffffff;
        width: 100%;
        align-items: center;
        font-weight: 700;
        white-space: nowrap;
      }
    }
    .home-about-us-overview-schedule-pickup-contact-us-WMM {
      display: flex;
      justify-content: center;
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 1.4825;
      flex-shrink: 0;
      margin-bottom: 0.9rem;
      letter-spacing: 0.072rem;
      color: #ffffff;
      font-family: Oswald, 'Source Sans Pro';
      white-space: nowrap;
      align-items: baseline;

      .home-about-us-overview-schedule-pickup-contact-us-WMM-sub-0 {
        color: #ffffff;
        font-family: Oswald, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.4825;
        letter-spacing: 0.072rem;
      }
      .home-about-us-overview-schedule-pickup-contact-us-WMM-sub-1 {
      }
    }
  }
  .auto-group-iyu7-1hR {
    width: 100%;
    height: 13.2rem;
    position: relative;
    flex-shrink: 0;

    .schedule-pickup-fX5 {
      font-weight: 500;
      letter-spacing: 0.096rem;
      width: 32.1rem;
      position: absolute;
      left: 62.1rem;
      top: 2.5rem;
      display: flex;
      font-size: 4.8rem;
      line-height: 1.4825;
      color: #000000;
      height: 7.2rem;
      white-space: nowrap;
      font-family: Oswald, 'Source Sans Pro';
    }
    .group-212-ZMZ {
      padding: 10.3rem 6.7rem 0.7rem 111.9rem;
      font-weight: 400;
      justify-content: center;
      box-sizing: border-box;
      height: 13.2rem;
      align-items: center;
      width: 153.6rem;
      font-size: 1.6rem;
      display: flex;
      line-height: 1.3625;
      letter-spacing: 0.032rem;
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      position: absolute;
      left: 0;
      top: 0;
      white-space: nowrap;
      background-color: rgba(0, 0, 0, 0.0799999982);
    }
  }
  .image-24-bJF {
    height: 52.1rem;
    position: relative;
    background-size: 100% 159.438%;
    background-position: -0rem -4.5706rem;
    background-image: url('REPLACE_IMAGE:4354c6c518d7cfb124248b8daf26d0576539e0fa');
    flex-shrink: 0;
    margin-bottom: 2.25rem;
    width: 153.6rem;
  }
  .fill-this-form-our-team-will-collect-your-wastage-items-from-your-place-GvB {
    display: flex;
    font-weight: 400;
    color: #000000;
    flex-shrink: 0;
    margin-left: 8.2rem;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    line-height: 1.3625;
    letter-spacing: 0.04rem;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
  }
  .auto-group-qlum-Z8b {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.15rem 40.4rem 4.3rem 45.1rem;
    width: 100%;
    align-items: center;
    display: flex;

    .contact-form-2-gU7 {
      width: 100%;
      position: relative;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 1.4rem;
      padding: 0.7rem 11rem 0.5rem 11.1rem;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      box-sizing: border-box;
      overflow: hidden;

      .group-61-Bfm {
        margin-bottom: 1.35rem;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .first-name-ivb {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 0.8rem;
          width: 100%;

          .first-name-Gx7 {
            font-weight: 500;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            align-items: baseline;
            margin-bottom: 0.7rem;
            font-size: 1.6rem;
            line-height: 1.2125;
            color: #000000;
            display: flex;
            flex-shrink: 0;

            .first-name-Gx7-sub-0 {
            }
            .first-name-Gx7-sub-1 {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #ff0000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .rectangle-DVy {
            flex-shrink: 0;
            width: 100%;
            height: 5.5rem;
            background-color: #f1f1f1;
            border-radius: 0.6rem;
          }
        }
        .last-name-ZJw {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 0.8rem;

          .last-name-iBq {
            margin-bottom: 0.7rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .rectangle-3ju {
            flex-shrink: 0;
            width: 100%;
            height: 5.5rem;
            background-color: #f1f1f1;
            border-radius: 0.6rem;
          }
        }
        .email-zf9 {
          position: relative;
          flex-shrink: 0;
          margin-bottom: 0.85rem;
          width: 100%;
          height: 8.2rem;

          .e-mail-wqH {
            color: #000000;
            white-space: nowrap;
            display: flex;
            width: 5.7rem;
            height: 2rem;
            position: absolute;
            top: 0;
            font-family: Inter, 'Source Sans Pro';
            align-items: baseline;
            left: 0;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2125;

            .e-mail-wqH-sub-0 {
            }
            .e-mail-wqH-sub-1 {
              line-height: 1.2125;
              color: #ff0000;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 500;
            }
          }
          .rectangle-wyh {
            background-color: rgba(217, 217, 217, 0.3700000048);
            border-radius: 0.6rem;
            width: 46rem;
            height: 5.5rem;
            position: absolute;
            left: 0;
            top: 2.7rem;
          }
          .email-H1y {
            width: 46rem;
            height: 8.2rem;
            position: absolute;
            left: 0;
            top: 0;

            .e-mail-DgK {
              font-weight: 500;
              font-family: Inter, 'Source Sans Pro';
              display: flex;
              font-size: 1.6rem;
              line-height: 1.2125;
              color: #000000;
              white-space: nowrap;
              align-items: baseline;
              margin-bottom: 0.7rem;

              .e-mail-DgK-sub-0 {
              }
              .e-mail-DgK-sub-1 {
                font-weight: 500;
                line-height: 1.2125;
                color: #ff0000;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
              }
            }
            .rectangle-27y {
              border-radius: 0.6rem;
              width: 100%;
              height: 5.5rem;
              background-color: rgba(217, 217, 217, 0.0500000007);
            }
          }
        }
        .phone-number-AEB {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .phone-number-imV {
            font-size: 1.6rem;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.7rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            white-space: nowrap;
            display: flex;
            align-items: baseline;

            .phone-number-imV-sub-0 {
            }
            .phone-number-imV-sub-1 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #ff0000;
            }
          }
          .rectangle-jAo {
            flex-shrink: 0;
            width: 100%;
            height: 5.5rem;
            background-color: #f1f1f1;
            border-radius: 0.6rem;
          }
        }
      }
      .email-sH1 {
        margin-bottom: 1.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .e-mail-d1H {
          align-items: baseline;
          line-height: 1.2125;
          color: #ff0000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          flex-shrink: 0;
          margin-bottom: 0.7rem;
          font-size: 1.6rem;
          font-weight: 500;

          .e-mail-d1H-sub-0 {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .e-mail-d1H-sub-1 {
          }
        }
        .rectangle-qt3 {
          height: 5.5rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.6rem;
          flex-shrink: 0;
          width: 46rem;
        }
      }
      .email-yzF {
        margin-bottom: 1.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .e-mail-9Nw {
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          align-items: baseline;
          flex-shrink: 0;
          margin-bottom: 0.7rem;
          font-size: 1.6rem;
          font-weight: 500;
          color: #ff0000;
          white-space: nowrap;

          .e-mail-9Nw-sub-0 {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .e-mail-9Nw-sub-1 {
          }
        }
        .rectangle-BqR {
          width: 46rem;
          height: 5.5rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 0.6rem;
          flex-shrink: 0;
        }
      }
      .email-Kgj {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .e-mail-tjq {
          margin-bottom: 0.7rem;
          align-items: baseline;
          flex-shrink: 0;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #ff0000;

          .e-mail-tjq-sub-0 {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2125;
          }
          .e-mail-tjq-sub-1 {
          }
        }
        .rectangle-KaF {
          width: 100%;
          height: 5.5rem;
          background-color: rgba(217, 217, 217, 0.3700000048);
          border-radius: 0.6rem;
          flex-shrink: 0;
        }
      }
    }
    .message-FD1 {
      width: calc(100% - 22.1rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 11rem 1.2rem 11.1rem;

      .message-B6f {
        margin-bottom: 0.7rem;
        font-weight: 500;
        line-height: 1.2125;
        white-space: nowrap;
        display: flex;
        flex-shrink: 0;
        font-size: 1.6rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        align-items: baseline;

        .message-B6f-sub-0 {
        }
        .message-B6f-sub-1 {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #ff0000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .rectangle-CnT {
        width: 100%;
        height: 15rem;
        background-color: #f1f1f1;
        border-radius: 0.6rem;
        flex-shrink: 0;
      }
    }
    .email-MQT {
      margin: 0rem 11.2rem 1.1rem 10.9rem;
      width: calc(100% - 22.1rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .e-mail-VWf {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.7rem;
        font-size: 1.6rem;
        font-weight: 500;
        color: #ff0000;
        display: flex;
        align-items: baseline;

        .e-mail-VWf-sub-0 {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .e-mail-VWf-sub-1 {
        }
      }
      .rectangle-LnB {
        height: 5.5rem;
        background-color: rgba(217, 217, 217, 0.3700000048);
        border-radius: 0.6rem;
        flex-shrink: 0;
        width: 100%;
      }
    }
    .email-gb9 {
      width: calc(100% - 22.1rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 11.2rem 1.2rem 10.9rem;

      .e-mail-2Q7 {
        display: flex;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2125;
        white-space: nowrap;
        margin-bottom: 0.7rem;
        color: #ff0000;
        font-family: Inter, 'Source Sans Pro';
        align-items: baseline;

        .e-mail-2Q7-sub-0 {
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
        }
        .e-mail-2Q7-sub-1 {
        }
      }
      .rectangle-EFH {
        width: 100%;
        height: 5.5rem;
        background-color: rgba(217, 217, 217, 0.3700000048);
        border-radius: 0.6rem;
        flex-shrink: 0;
      }
    }
    .email-NcP {
      margin: 0rem 11.2rem 4.6rem 10.9rem;
      width: calc(100% - 22.1rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .e-mail-Jkw {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #ff0000;
        align-items: baseline;
        flex-shrink: 0;
        margin-bottom: 0.7rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;

        .e-mail-Jkw-sub-0 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2125;
        }
        .e-mail-Jkw-sub-1 {
        }
      }
      .rectangle-YvB {
        height: 5.5rem;
        background-color: rgba(217, 217, 217, 0.3700000048);
        border-radius: 0.6rem;
        flex-shrink: 0;
        width: 100%;
      }
    }
    .auto-group-r5d9-sxT {
      flex-shrink: 0;
      margin: 0rem 11rem 0rem 11.1rem;
      width: calc(100% - 22.1rem);
      height: 4.9rem;
      display: flex;
      align-items: center;

      .button-CE3 {
        margin-right: 21.2rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        border: solid 0.1rem #000000;
        height: 100%;
        font-size: 1.6rem;
        align-items: center;
        justify-content: center;
        width: 12.4rem;
        line-height: 1.2125;
        box-sizing: border-box;
        flex-shrink: 0;
        font-weight: 700;
        white-space: nowrap;
        display: flex;
        background-color: #000000;
        border-radius: 0.6rem;
      }
      .button-4X9 {
        height: 100%;
        white-space: nowrap;
        background-color: #000000;
        flex-shrink: 0;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        width: 12.4rem;
        line-height: 1.2125;
        align-items: center;
        justify-content: center;
        border-radius: 0.6rem;
        font-size: 1.6rem;
        color: #ffffff;
      }
    }
  }
  .footer-vpF {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #222222;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-top: 0.993rem;

    .auto-group-t6zj-fWw {
      width: calc(100% - 40.4rem);
      height: 19.207rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 28.2rem 0.5rem 12.2rem;

      .auto-group-m3f5-ato {
        flex-direction: column;
        flex-shrink: 0;
        margin: 3.906rem 61.7rem 2.089rem 0rem;
        height: calc(100% - 5.9953rem);
        display: flex;

        .scrap-symphony-sanctuary-your-premier-destination-for-trading-scrap-materials-and-a-platform-to-donate-and-manage-waste-responsibly-embrace-a-circular-economy-contribute-to-charitable-causes-by-donating-reusable-items-and-explore-green-solutions-with-our-community-of-startups-and-entrepreneurs-for-a-sustainable-future-iVD {
          letter-spacing: 0.01rem;
          font-family: Open Sans, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 1.4117rem;
          max-width: 43.7rem;
          display: flex;
          font-size: 1rem;
          font-weight: 400;
          line-height: 2.2;
          color: #ffffff;
        }
        .social-media-Hwd {
          margin-left: 0.818rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .vector-F7m {
            width: 2.9268rem;
            height: 2.9268rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.035rem 0rem 0rem;
          }
          .vector-Zu9 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 4.0344rem;
            width: 3.2195rem;
            height: 3rem;
          }
          .vector-7Qs {
            margin-top: 0.0013rem;
            width: 3.1463rem;
            height: 2.6341rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-rz7d-FX5 {
        height: 100%;
        flex-shrink: 0;
        width: 7.8rem;

        .frame-35-c6j {
          margin-bottom: 0.507rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .pages-Ae3 {
            margin-bottom: 2rem;
            display: flex;
            font-weight: 700;
            line-height: 2.25;
            font-family: Open Sans, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            letter-spacing: 0.012rem;
            color: #ffffff;
            flex-shrink: 0;
          }
          .frame-39-gsH {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;
            row-gap: 1rem;

            .home-SbZ {
              font-size: 1rem;
              font-weight: 400;
              line-height: 2.2;
              letter-spacing: 0.01rem;
              font-family: Open Sans, 'Source Sans Pro';
              display: flex;
              color: #ffffff;
              white-space: nowrap;
              flex-shrink: 0;
            }
            .about-us-Nk7 {
              display: flex;
              font-size: 1rem;
              font-weight: 400;
              color: #ffffff;
              white-space: nowrap;
              line-height: 2.2;
              letter-spacing: 0.01rem;
              font-family: Open Sans, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .overview-Jdm {
              line-height: 2.2;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1rem;
              font-weight: 400;
              letter-spacing: 0.01rem;
              color: #ffffff;
              font-family: Open Sans, 'Source Sans Pro';
            }
            .schedule-pickup-SEB {
              letter-spacing: 0.01rem;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 1rem;
              font-weight: 400;
              line-height: 2.2;
              color: #ffffff;
              font-family: Open Sans, 'Source Sans Pro';
            }
          }
        }
        .contact-us-AR5 {
          display: flex;
          font-size: 1rem;
          font-weight: 400;
          line-height: 2.2;
          letter-spacing: 0.01rem;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .auto-group-jvvp-JXH {
      padding: 0.6rem 11.5rem 0rem 14.1rem;
      width: 100%;
      height: 5.9094rem;
      display: flex;
      align-items: flex-start;
      background-color: #555555;
      flex-shrink: 0;
      box-sizing: border-box;

      .frame-40-dJf {
        padding-right: 19.3667rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin-right: 21.9333rem;
        box-sizing: border-box;

        .mask-group-Zy1 {
          height: 3rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 4.5rem;
          width: 3rem;
        }
        .mask-group-7Uj {
          vertical-align: top;
          flex-shrink: 0;
          width: 3rem;
          height: 3rem;
          position: relative;
          object-fit: contain;
        }
      }
      .terms-condition-privacy-policy-4es {
        margin: 0.1rem 30.3rem 0rem 0rem;
        font-weight: 700;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        font-size: 1rem;
        line-height: 2.2;
        letter-spacing: 0.01rem;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .scrap-symphony-sanctuary-all-rights-reserved-Zbd {
        white-space: nowrap;
        flex-shrink: 0;
        line-height: 2.2;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        letter-spacing: 0.01rem;
        margin-top: 0.1rem;
        font-size: 1rem;
        font-weight: 700;
      }
    }
  }
}
